footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 40px;
    background-color: #34495e;
    width: 100%;
    height: 7vh;
    color: white;
    margin-top: 1rem;
}

footer p{
    margin-top: 1rem;
}