header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #34495e;
    width: 100%;
    height: 7vh;
    color: white;
}

.header-logo{
    margin: 1rem;}

.header-nav{
    margin: 1rem;
}
